@import "../mixins/mixins.scss";

.soft{
  .component.nav-theme{   
    .component-wrapper{
      border-radius: 15px;
      
      .component-content{
        border-radius: 13px;
      }
    }
  }
}

.round{
  .component.nav-theme{   
    .component-wrapper{
      border-radius: 10000px;
      
      .component-content{
        border-radius: 10000px;
      }
    }
  }
}

.raised,.float{
  .component.nav-theme{
    padding:10px;   
    height:70px;
    
    .component-wrapper{
      background: none;
      
      &:hover{
        background: var(--light-1);
      }
    }
  }
}

.raised{
  .component.nav-theme{ 
    .component-wrapper{
      box-shadow: var(--shadow-raised);
    }
  }
}

.float{
  .component.nav-theme{   
    .component-wrapper{
      box-shadow: var(--shadow-float);
    }
  }
}