@import "../mixins/mixins.scss";

.monochrome{
    .component.form-payment{
        .component-wrapper{
            .component-content{
                background: var(--base-2);
                
                .form-container{
                    .form-section{
                        .form-input-text,
                        .form-input-textarea{   
                            background: var(--base-2);
                            
                            &:focus{
                                background: var(--accent-1);
                            }
                        }   
                    }
                }
            }
        }
    }
}

.soft{
    .component.form-payment{   
        .component-wrapper{
            border-radius: 15px;

            .component-content{
                border-radius: 10px;
                
                .form-container{
                    .form-section{
                        .form-input-text,
                        .form-input-textarea{   
                            border-radius: 10px;          
                        }   
                    }
                }    
            }
        }
    }
}

.round{
    .component.form-payment{   
        .component-wrapper{
            border-radius: 30px;
    
            .component-content{
                border-radius: 25px;
                
                .form-container{
                    .form-section{
                        .form-input-text,
                        .form-input-textarea{   
                            border-radius: 25px;          
                        }   
                    }
                }    
            }
        }
    }
}

.raised,.float{
    .component.form-payment{   
        .component-wrapper{
            margin: 20px;
            height: calc(100% - 40px);
            width: calc(100% - 40px);
        }
    }
}

.raised{
    .component.form-payment{   
        .component-wrapper{
            box-shadow: var(--shadow-1);
        }
    }
}

.float{
    .component.form-payment{   
        .component-wrapper{
            box-shadow: var(--shadow-2);
        }
    }
}