@import "../mixins/mixins.scss";

// default style settings: vertical sharp flat opaque no-wrapper
      
// component styling when in focus
.active-entry{

    .component.entry-article{

        .component-wrapper{
            
            .component-content{
                @include tags();
                @include button();

                .image-container,.image-overlay{
                    height:600px;
                    width:100%;
                }

                .image-container{
                    z-index: 1;
                }

                .image-overlay{
                    z-index: 2;
                    background: var(--image-overlay-default);
                    background: var(--image-overlay-gradient);
                }

                .text-container{
                    height:calc(100% - 600px);
                    background: var(--base-2);
                    display: block;

                    .text-container-inner{
                        padding:50px;
                    }

                    .title{
                        margin-bottom:35px;
                    }

                    p{
                        line-height: 22px;
                        margin-bottom: 30px;
                    }
                
                    .text{
                        display: block;
                        margin-bottom: 0px;
                    }
                    
                    .tags{
                        margin-bottom:30px;
                    }

                    .read-more{
                        display: none;
                    }
                }

                .preview-button-container{
                    display:none;
                }

                .active-icon-container,.close-icon{
                    display: block;
                } 
            }
        }
    }
}

