@import "../mixins/mixins.scss";

.component.banner{
  position: relative;
  overflow-x: hidden;
  min-width: 100%;
  max-width: 100%;

  .title{
    position: absolute;
    color: white;
    top: calc(300px - 40px);
    left: 60px;
    z-index: 5;
    font-size: 44px;
  }

  .slide-counter{
    display: flex;
    align-items: center;
    position: absolute;
    top: calc(600px - 75px);
    left: 50px;
    z-index: 5;
    padding: 10px;
    border-radius: 3px;
    
    &:hover{
      background: rgba(255,255,255,0.1);
    }

    .dot{
      @include transition();
      width: 8px;
      height: 8px;
      background: rgba(20,20,20,1);
      border-radius: 50%;
      margin: 8px;
      cursor: pointer;

      &:hover{
        background: rgba(255,255,255,0.8);
      }

      &.active{
        background: white;
      }
    }

    .icon{
      @include icon(22);
      font-weight: 700;
      color: rgba(20,20,20,1);

      &:hover{
        color: rgba(255,255,255,0.8);
      }
    }
  }

  .slider{
    @include transition(0.7);
    display: flex;
  }
}
