@import "../mixins/mixins.scss";

.soft{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-list{
          .style-wrapper{
            border-radius: 15px;
            .style{
              border-radius: 13px;
            }
          }
        }
      }
    }
  }
}

.round{
  .component.nav-style{   
    .component-wrapper{
      .component-content{  
        .style-list{
          .style-wrapper{
            border-radius: 10000px;
            .style{
              border-radius: 10000px;
            }
          }
        }
      }
    }
  }
}

.raised,.float{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-container{
          padding:10px;
          .style-list{
            .style-wrapper{
              background: rgba(0,0,0,0);
              
              &:hover{
                background: white;
              }
            }
          }
        }
      }
    }
  }
}

.raised{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-wrapper{
          box-shadow: var(--shadow-raised);
        }
      }
    }
  }
}

.float{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-wrapper{
          box-shadow: var(--shadow-float);
        }
      }
    }
  }
}