@import "../mixins/mixins.scss";

// component general styling
.component.nav-style{
  @include transition(); 
  margin: 0;
  padding: 10px 20px 10px;
  overflow: hidden;

  .component-wrapper{
    @include transition(); 
    position:relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;
    overflow: hidden;

    .component-content{
      @include transition();
      position:relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: none;
    
      .style-container{
        height: 100%;
        width: 100%;
        padding:0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: var(--base-3);

        .title{
          margin: 2px 0 0 10px;
          margin-right: auto;
          margin-bottom: 15px;
        }
      
        .style-list{
          display: flex;

          .style-wrapper{
            @include transition();
            padding:3px;
            margin-right: 20px;
            cursor: pointer;
            height: 50px;
            background: rgba(255,255,255,0.2);

            &.active{
              background: white;
              .style{
                background: white;
              }
            }

            &:hover{
              background: white;
            }

            .style{
              height: 100%;
              width: 100%;
              background: var(--base-3);
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 30px;
            }
          }
        }
      } 
    }
  }
}