@import "./mixins/mixins.scss";

// comonent general styling
.component.image-row{
  @include transition(); 
  width: 100%;
  position: relative;
  margin-bottom: 80px;
  padding: 0;
  overflow: hidden;

  .component-wrapper{
    @include transition(); 
    position:relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;

    .component-content{  
      @include transition();
      position:relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 0;
      box-shadow: none;
      @include button();
      
      .image-container{
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;

        .image-overlay{
          @include transition();
          @include blur(5);
          background: rgba(50,50,50,0.3);
          padding: 150px 0;
          height: 100%;
          width: 100%; 
          top:0;
          left:0;
          z-index: 0;

          @include media-md{
            padding: 400px 0;
          }

          .text-container-background{            
            width: 100%;
            background: var(--base-1);
            margin:auto;

            .text-container-wrapper{ 
              width: 100%;
              position: relative;
              padding: 20px 0 0;

              @include media-md{
                padding: 50px 0 0;
              }
              
              .text-container{
                width:calc(100% - 70px);
                margin: 0 auto;
                background: var(--base-1);
                z-index: 1;
                overflow: hidden;

                @include media-md{
                  width:80%;
                }
        
                .text-container-inner{
                  text-align: center;
                  background: var(--base-1);
                  overflow: hidden;
                  padding: 20px 0 0;

                  @include media-md{
                    padding: 50px 0 0;
                  }
        
                  h2{
                    margin-bottom: 40px;
                    color: var(--text-2);
                  }
                }
        
                .focus-image-list{
                  margin: 60px auto 0;
                  position: relative;
                  display: flex;
                  padding: 10px;
                  background: var(--base-2);

                  @include media-md{
                    margin: 100px auto 0;
                  }

                  .focus-image-wrapper{
                    @include transition();
                    height: 250px;
                    width: 100%;
                    padding:10px;

                    @include media-md{
                      height: 400px;
                    }

                    &:hover{
                      width:300%;

                      @include media-md{
                        width:200%;
                      }

                      @include media-lg{
                        width:150%;
                      }
                    }

                    .focus-image-container{
                      height: 100%;
                      width: 100%;
                      overflow: hidden;
                      position: relative;
                  
                      @include image();
                    }
                  }
                } 
              }
            }

            .products-link-button{
              width: 100%;
              height: 300px;
              background: var(--accent-5);
              padding: 50px 35px;
              bottom: 0;
              display: flex;
              align-items: flex-end;
              justify-content: flex-end;
              border: none;
              margin:-190px auto 0;
              z-index: 1;

              @include media-md{
                padding: 50px 10%;

              }
          
              h4{
                text-transform: uppercase;
                color: white;
                font-weight: 300;
                font-size: 13px;
                letter-spacing: 3px;
              }

              &:hover{
                background: var(--accent-2);
                border: none;

                h4{
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}

// component variation styling 
.monochrome{
  .component.image-row{
    .component-wrapper{
      .component-content{
        .image-container{
          .image-overlay{
            .text-container-background{
              .products-link-button{
                background: rgba(50,50,50,1);
              
                &:hover{
                  background: var(--accent-5);
                }
              }
            }
          }
        }
      }
    }
  }
}

.soft{
  .component.image-row{
    .component-wrapper{
      .component-content{ 
        .image-container{
          .image-overlay{
            .text-container-background{
              .text-container-wrapper{
                .text-container{
                  border-radius: 20px;

                  .text-container-inner{
                    border-radius: 15px;
                  }
          
                  .focus-image-list{
                    border-radius: 15px;

                    .focus-image-wrapper{
                      .focus-image-container{
                        border-radius: 12px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.round{
  .component.image-row{
    .component-wrapper{
      .component-content{
        .image-container{
          .image-overlay{
            .text-container-background{
              .text-container-wrapper{
                .text-container{
                  border-radius: 35px;
          
                  .text-container-inner{
                    border-radius: 30px;
                  }

                  .focus-image-list{
                    border-radius: 30px;

                    .focus-image-wrapper{
                      .focus-image-container{
                        border-radius: 25px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.raised{
  .component.image-row{
    .component-wrapper{
      .component-content{  
        .image-container{
          .image-overlay{
            .text-container-background{
              .text-container-wrapper{
                .text-container{
                  padding: 10px;
                  
                  .text-container-inner{
                    overflow: visible;
                  }
          
                  .focus-image-list{
                    box-shadow: var(--shadow-raised);
                
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.float{
  .component.image-row{
    .component-wrapper{
      .component-content{  
        .image-container{
          .image-overlay{
            .text-container-background{
              .text-container-wrapper{
                .text-container{
                  padding: 10px;
                  
                  .text-container-inner{
                    overflow: visible;
                  }
          
                  .focus-image-list{
                    box-shadow: var(--shadow-float);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.text-wrapper{
  .component.image-row{
    .component-wrapper{
      .component-content{  
        .image-container{
          .image-overlay{
            .text-container-background{
              .text-container-wrapper{ 
                padding: 20px 0 0;

                .text-container{
                  .text-container-inner{
                    background: var(--base-2);
                    padding: 60px 50px 50px;
                  }
          
                  .focus-image-list{
                    margin-top: 40px;
                    background: none;
                    box-shadow: none;
                    padding:0;

                    .focus-image-wrapper{
                      padding:3px;
                    }
                  } 
                }
              }
            }
          }
        }
      }
    }
  }

  &.raised{
    .component.image-row{
      .component-wrapper{
        .component-content{  
          .text-container-wrapper{ 
            .text-container{
              .text-container-inner{
                box-shadow: var(--shadow-raised);
              }
            }
          }
        }
      }
    }
  }

  &.float{
    .component.image-row{
      .component-wrapper{
        .component-content{  
          .text-container-wrapper{ 
            .text-container{
              .text-container-inner{
                box-shadow: var(--shadow-float);
              }
            }
          }
        }
      }
    }
  }
}

.image-wrapper{
  .component.image-row{
    .component-wrapper{
      .component-content{        
        .image-container{
          .image-overlay{
            padding: 70px 0;

            @include media-md{
              padding: 150px 0;
            }
            .text-container-background{
              background: none;
              width: calc(100% - 70px);
              
              @include media-md{
                width:80%;
              }

              .text-container-wrapper{ 
                .text-container{
                  width:100%;
                  .text-container-inner{
                    padding: 40px 35px 35px;
                          
                    @include media-md{
                      padding: 60px 50px 50px;
                    }
                  }
                }
              }
          
              .products-link-button{
                width:100%;
                padding: 50px;
              }
            }
          }
        }
      }
    }
  }

  &.soft{
    .component.image-row{
      .component-wrapper{
        .component-content{     
          .image-container{
            .image-overlay{
              .text-container-background{
                .products-link-button{
                  border-radius: 20px;
                }
              }
            }
          }
        }
      }
    }
  }

  &.round{
    .component.image-row{
      .component-wrapper{
        .component-content{  
          .image-container{
            .image-overlay{
              .text-container-background{
                .products-link-button{
                  border-radius: 35px;
                }
              }
            }
          }
        }
      }
    }
  }
}