@import "./mixins/mixins.scss";

// component general styling
.component.nav-bar{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  .nav-header-section{
    @include transition();
    display: block;
    width: 100%;
    height: 80px;
    background: var(--base-3);
    display: flex;
    align-items: center;
    padding: 0 0px 0 30px;

    h1{
      margin-right: auto;
    }

    .icon{
      @include icon(20);
      cursor: pointer;
      margin-right: 15px;
      background: none;
      width: 45px;
      height: 45px;
      color: var(--text-2);

      &.active{
        border: 2px solid var(--accent-3);

        &:hover{
          color: var(--accent-3);
        }
      }    
    }
  }

  .nav-body-section{
    @include transition();
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 0;
    background: var(--base-3);
    position: fixed;
    top: 80px;
    padding: 0 30px;
    border-radius: 0;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    
    @include media-md{
      flex-direction: row;
    }

    @include media-lg{
      flex-wrap: nowrap;
    }

    .nav-body-subsection{
      height: 270px;
      width: 100%;
      overflow: hidden;
      position: relative;

      @include media-md{
        height: 50%;
        width: 50%;

        &.large{
          width: 100%;
        }
      }

      @include media-lg{
        height: calc(100% - 35px);
        width: 100%;

        &.large{
          width: 100%;
        }
      }
    } 
  }

  &.active{
    .nav-body-section{
      height: 80%;
      padding-bottom: 30px;

      @include media-lg{
        height: 600px;
        padding-bottom: 0;
      }
    }
  }
}
