@import "mixins/mixins.scss";

// component general styling
.component.navigation{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 100;

  .nav-header-section{
    @include transition();
    display: block;
    width: 100%;
    height: 80px;
    background: var(--base-3);
    display: flex;
    align-items: center;
    padding: 0 0px 0 30px;

    h1{
      margin-right: auto;
    }

    .icon{
      @include icon(20);
      cursor: pointer;
      margin-right: 15px;
      background: none;
      width: 45px;
      height: 45px;
      color: var(--text-2);

      &.active{
        border: 2px solid var(--accent-3);

        &:hover{
          color: var(--accent-3);
        }
      }    
    }
  }

  .nav-body-section{
    @include transition();
    display: flex;
    width: 100%;
    height: 0;
    background: var(--base-3);
    position: fixed;
    top: 80px;
    padding: 0 30px;
    border-radius: 0;
    overflow: hidden;
    overflow-x: hidden;

    .nav-list-container{
      h3{
        margin-bottom: 20px;
      }
    }

    .nav-list-outer{
      width: 300px;
      height: calc(100% - 35px);
      overflow-y: scroll;
      padding: 0;
      border-radius: 0;
      overflow: hidden;
      margin-right: 30px;
      box-shadow: var(--shadow-3);
      
      &.styles{
        width: 500px;
      }

      .nav-list{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
      }
    }

    .nav-theme{
      @include transition();
      display: flex;
      padding: 5px;
      height: 40px;
      align-items: center;
      border-radius: 0;
      margin: 30px 20px;
      box-shadow: var(--shadow-2);
      overflow: hidden;
      cursor: pointer;

      .title{
        margin-right: auto;
      }

      &.active{
        background: var(--light-1);
      }

      &:hover{
        background: var(--light-1);
      }
    }

    .nav-style{
      display: block;
      padding: 0;
      margin: 30px 20px;

      h3{
        margin-bottom: 15px;
      }

      .style-list{
        display: flex;

        .style{
          @include transition();
          padding: 10px 20px;
          box-shadow: var(--shadow-2);
          margin-right: 20px;
          border-radius: 0;
          cursor: pointer;
          height: 40px;

          &.active,
          &:hover{
            background: var(--light-1);
          }
        }
      }
    }

    .color-list{
      overflow: hidden;
      display: flex;
      justify-content: center;
      margin-top: auto;
      
      .color{
        height: 5px;
        width: 70px;
      }  
    }

    .style-preview{
      padding: 0 20px;
      border-radius: 0;
      background-color: var(--base-3);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;

      .style{
        border: var(--border-1);
        box-shadow: var(--shadow-2);
        border-radius: 0;
        width: 100%;
        background: var(--base-3);
        padding: 5px;

        .style-inner{
          background: var(--base-2);
          height: 100%;
          border-radius: 0;
          display: flex;
          align-items: center;
          padding: 0 15px;
        }
      }
    }
  
    .theme-preview{
      padding: 0;
      border-radius: 0;
      background-color: var(--base-3);
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      overflow: hidden;
      justify-content: center;

      .theme{
        border-radius: 0;
        height: 100%;
        width: 100%;
        background: var(--base-3);
        display: flex;
        flex-direction: column;

        .title{
          margin: 2px 0 0 10px;
        }
      }
    }
  }

  &.active{
    .nav-body-section{
      height: 500px;
      padding-bottom: 40px;
    }
  }
}

.soft,.round{
  .component.navigation{
    .nav-body-section{
      .nav-theme{
        border-radius: 10000px;
      }

      .nav-style{
        .style-list{
          .style{
            border-radius: 10000px;
          }
        }
      }

      .style-preview{          
        border-radius: 10000px;
      
        .style{  
          border-radius: 10000px;
      
          .style-inner{
            border-radius: 10000px;
          }
        }
      }
      
      .theme-preview{
        border-radius: 10000px;
    
        .theme{
          border-radius: 10000px;
        }
      }
    }
  }
}

.soft{
  .component.navigation{
    .nav-body-section{
      border-radius: 0 0 15px 15px;
    
      .nav-list-outer{
        border-radius: 10px;
      }
    }
  }
}

.round{
  .component.navigation{
    .nav-body-section{
      border-radius: 0 0 30px 30px;

      .nav-list-outer{
        border-radius: 22px;
      }
    }
  }
}