@import "./mixins/mixins.scss";

// component general stlying
.component.entry-banner-slide{
  width: 100vw;
  position: relative;

  .image-container{
    height: 750px;
    width:100%;
    overflow: hidden;
    position: relative;

    .image-overlay{
      background: rgba(0,0,0,0.5);
      position: absolute;
      height: 100%;
      width: 100%; 
    }

    @include image();
  }

  .text-container-wrapper{
    padding: 80px 25%;
    overflow: hidden;

    .text-container{ 
      padding:15px;
      position: relative;
      overflow: hidden;
      
      .border-left,.border-right{
        width: 60px;
        height: 60px;
        background: var(--accent-1);
        position: absolute;
        z-index: 1;
      }

      .border-left{
        top: 10px;
        left: 10px;
      }

      .border-right{
        bottom: 10px;
        right: 10px;
      }

      .text-background{
        background: var(--base-1);
        position: absolute;
        height:calc(100% - 20px);
        width: calc(100% - 20px);
        top:10px;
        left:10px;     
      }

      .text-foreground{
        background: var(--base-1); 
        padding: 45px 80px 60px;
        z-index: 2;
        position: relative;
     
        h3{
          margin-bottom: 10px;
        }
      }
    }
  }
}

// component variation styling
.soft{
  .component.entry-banner-slide{
    .text-container-wrapper{
      border-radius: 15px;

      .text-container{ 
        border-radius: 15px;

        .border-left{
          border-radius: 15px 0 0 0;
        }

        .border-right{
          border-radius: 0 0 15px 0;
        }

        .text-background{
          border-radius: 15px;
        }

        .text-foreground{
          border-radius: 12px;
        }
      }
    }
  }
}

.round{
  .component.entry-banner-slide{
    .text-container-wrapper{
      border-radius: 30px;

      .text-container{ 
        border-radius: 30px;

        .border-left{
          border-radius: 30px 0 0 0;
        }

        .border-right{
          border-radius: 0 0 30px 0;
        }

        .text-background{
          border-radius: 30px;
        }

        .text-foreground{
          border-radius: 25px;
        }
      }
    }
  }
}

.monochrome,.raised,.float,.image-wrapper{
  .component.entry-banner-slide{
    .text-container-wrapper{
      .text-container{ 
        padding:40px;

        .border-left{
          top: 35px;
          left: 35px;
        }

        .border-right{
          bottom: 35px;
          right: 35px;
        }

        .text-background{
          background: var(--base-2);
          top:10px;
          left:10px;
        }

        .text-foreground{
          background: var(--base-2); 
        }
      }
    }
  }
}

.monochrome{
  .component.entry-banner-slide{
    .text-container-wrapper{
      padding: 80px 20%;

      .text-container{ 
        .border-left,.border-right{
          background: var(--accent-6);
        }
      }
    }
  }
  
  &.soft{
    .component.entry-banner-slide{
      .text-container-wrapper{
        .text-container{ 
          border-radius: 15px;

          .border-left{
            border-radius: 12px 0 0 0;
          }

          .border-right{
            border-radius: 0 0 12px 0;
          }

          .text-background{
            border-radius: 15px;
          }

          .text-foreground{
            border-radius: 10px;
          }
        }
      }
    }
  }

  &.round{
    .component.entry-banner-slide{
      .text-container-wrapper{
        .text-container{ 
          border-radius: 30px;

          .border-left{
            border-radius: 25px 0 0 0;
          }

          .border-right{
            border-radius: 0 0 25px 0;
          }

          .text-background{
            border-radius: 30px;
          }

          .text-foreground{
            border-radius: 22px;
          }
        }
      }
    }
  }
}

.raised,.float{
  .component.entry-banner-slide{
    .text-container-wrapper{
      padding: 80px 20%;
    }
  }

  &.soft{
    .component.entry-banner-slide{
      .text-container-wrapper{
        .text-container{ 
          .text-background{
            border-radius: 12px;
          }
        }
      }
    }
  }

  &.round{
    .component.entry-banner-slide{
      .text-container-wrapper{
        .text-container{ 
          .text-background{
            border-radius: 25px;
          }
        }
      }
    }
  }
}

.raised{
  .component.entry-banner-slide{
    .text-container-wrapper{
      .text-container{ 
        box-shadow: var(--shadow-raised);
      }
    }
  }
}

.float{
  .component.entry-banner-slide{
    .text-container-wrapper{
      .text-container{ 
        box-shadow: var(--shadow-float);
      }
    }
  }
}

.image-wrapper{
  .component.entry-banner-slide{
    .image-container{
      height: 800px;
    }

    .text-container-wrapper{
      padding: 0 60px 0 calc(40% - 60px) ;
      position:absolute;
      bottom: 100px;
      left:0;

      .text-container{ 
        box-shadow: none; 
        padding:0;
        
        .border-left,.border-right{
          display: none;
        }
        
        .text-background{
          background: var(--accent-4);
          opacity: 0.3;
          
          top:0;
          left:0;
          width:100%;
          height:100%;
        }

        .text-foreground{
          @include blur(5);
          background: rgba(50,50,50,0.3);
          top:0;
          left:0;
          width:100%;
          height:100%;
          
          p,h3{
            color:white;
          }
        }
      }
    }
  }

  &.monochrome{
    .component.entry-banner-slide{
      .text-container-wrapper{
        .text-container{ 
          .text-background{
            background: var(--base-2);
          }
        }
      }
    }
  }
}