@import "./mixins/mixins.scss";

// component sizing
.collection{
  .content-column{
    .entry-list{
      .component.entry-cart{
        width: calc(100% / 1);
      }
    } 
  }
}

// component general styling
.component.entry-cart{
  @include transition(); 
  height: 350px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  @include media-md{
    height: 220px;
  }

  &>.component-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;

    &>.component-content{
      @include transition();
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 0;
      box-shadow: none;
      background: var(--accent-1);

      @include reviews(var(--light-1));
      @include tags();
      @include button();

      .image-container{
        @include transition();
        overflow: hidden;
        position: absolute;
        height: 150px;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0; 
        background: none;  
        z-index: 1;

        @include media-md{
          height: 100%;
          width: 200px;
          top: 0;
          left: 0;
        }
        
        @include image();
        
        .image-overlay{
          @include transition();
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 2;
          background: rgba(0,0,0,0.2);
        }
      }

      .text-container{
        @include transition();
        position: absolute;
        height: 120px;
        width: 100%; 
        bottom: 50px;
        left: 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 3;
        padding: 20px; 
        background: var(--accent-1);

        @include media-md{
          height: 100%;
          width: calc(100% - 200px); 
          bottom: 0;
          left: 200px;
          padding: 30px; 
        }

        .text-container-inner{
          overflow-y: scroll;
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative; 
        }
        
        .price{
          font-size: 22px;
          font-weight: 100;
          margin-bottom: 10px;
        }
        
        .reviews{
          margin: auto 0 0;
        }

        .description,
        .tags{
          display: none;
        }
        
        .title{
          font-weight: 500;
          margin-bottom: 0px;
        }

        .category{
          margin-bottom: 15px;
        }
      }

      .item-action-container{
        @include transition();
        position: absolute;
        background: var(--accent-1);
        height: 60px;
        width: 100%; 
        bottom: 0;
        right: 0;
        border-radius: 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        overflow: hidden;
        z-index: 3;
        padding: 0 0 0 20px;

        @include media-md{
          height: 100%;
          width: 200px; 
          bottom: 0;
          right: 0;
          flex-direction: column;
          justify-content: center;
          padding: 0 10px;
        }

        .item-action-section{
          display: flex;
          align-items: center;
          height: 40px;
          justify-content: center;
      
          &:last-child{
            margin-right: auto;

            @include media-md{
              margin-right: 0;
            }
          }
          
          h3{
            margin-right: auto;
          }   
        }
        
        .price{
          font-size: 22px;
          font-weight: 100;

          @include media-md{
            margin-bottom: 10px;
          }
         
        }

        &:hover{
          background: var(--base-2);
        }
      }
  
      .item-action-icon{
        @include icon(20);
        margin: 10px;
      }
    }
  }
}

// component variation styling
.monochrome{
  .component.entry-cart{
    .component-wrapper{
      .component-content{
        background: var(--base-2);
        
        @include reviews(var(--accent-2));

        .text-container{
          background: var(--base-2);
        }

        .preview-button-container,
        .preview-icon-container{
          background: var(--base-2);
        }

        .item-action-container{
          background-color: var(--base-2);

          &:hover{
            background-color: var(--accent-1);
          }
        }
      }
    }
  }
}

.soft{
  .component.entry-cart{   
    .component-wrapper{
      border-radius: 15px;

      .component-content{
        border-radius: 10px;
      }
    }
  }
}

.round{
  .component.entry-cart{   
    .component-wrapper{
      border-radius: 30px;

      .component-content{
        border-radius: 25px;
      }
    }
  }
}

.raised{
  .component.entry-cart{
    padding: 10px;

    .component-wrapper{
      box-shadow: var(--shadow-raised);
    }
  }
}

.float{
  .component.entry-cart{
    padding: 10px;

    .component-wrapper{
      box-shadow: var(--shadow-float);
    }
  }
}

.text-wrapper{
  .component.entry-cart{
    .component-wrapper{
      .component-content{
        .image-container{
          height: 130px;
          width: calc(100% - 20px);
          top: 10px;
          left: 10px;

          @include media-md{
            height: calc(100% - 20px);
            width: 180px;
            top: 10px;
            left: 10px;
          }
        }
        
        .text-container{
          left: 0;

          @include media-md{
            left: 190px;
          }

        }
      }
    }
  }

  &.soft{
    .component.entry-cart{   
      .component-wrapper{
        .component-content{
          .image-container{
            border-radius: 6px;
          }

          .text-container{
            border-radius: 6px;
          }
          
          .item-action-container{
            border-radius: 0 6px 6px 0;
          }
        }
      }
    }
  }
  
  &.round{
    .component.entry-cart{   
      .component-wrapper{
        .component-content{
          .image-container{
            border-radius: 17px;
          }

          .text-container{
            border-radius: 17px;
          }
          
          .item-action-container{
            border-radius: 0 17px 17px 0;
          }
        }
      }
    }
  }
}

.image-wrapper{
  .component.entry-cart{
    .component-wrapper{
      .component-content{
        background: rgba(50,50,50,1);

        .image-container{
          height: 50%;
          width: 100%;
          top: 0;
          left: 0;

          @include media-md{
            height: 100%;
            width: 240px;
            top: 0;
            left: 0;
          }

          img{
            @include media-md{
              left:40%;
            }
          }
            
          .image-overlay{
            height: 100%;
            width: 100%;
            top: 100%;
            left: 0;
            background: rgb(200,200,200);
            background: linear-gradient(180deg, rgba(200,200,200,0.05) 0%, rgba(100,100,100,0.1) 30%, rgba(50,50,50,1) 47%, rgba(50,50,50,1) 100%);

            @include media-md{
              width: 480px;
              top:0;
              background: linear-gradient(90deg, rgba(200,200,200,0.05) 0%, rgba(100,100,100,0.1) 30%, rgba(50,50,50,1) 47%, rgba(50,50,50,1) 100%);
            }
          }
        }

        .text-container{
          height: 120px;
          width: calc(100% - 10px); 
          bottom: 55px;
          left: 5px;

          @include media-md{
            height: calc(100% - 10px);
            width: calc(100% - 260px); 
            bottom: 5px;
            left: 200px;
          }
        }

        .item-action-container{    
          width:calc(100% - 10px);
          height: 50px; 
          bottom: 5px;
          right: 5px;
          
          @include media-md{
            height:calc(100% - 10px);
            width: 210px; 
            bottom: 5px;
            right: 5px;
          }
        }
      }
    }
  }
  
  &.soft{
    .component.entry-cart{   
      .component-wrapper{
        .component-content{
          .text-container{
            border-radius: 6px 6px 0 0;
            
            @include media-md{
              border-radius: 6px;
            }
          }
          
          .item-action-container{
            border-radius: 0 0 6px 6px;
            
            @include media-md{
              border-radius: 0 6px 6px 0;
            }
          }
        }
      }
    }
  }
  
  &.round{
    .component.entry-cart{   
      .component-wrapper{
        .component-content{
          .text-container{
            border-radius: 20px 20px 0 0;
            
            @include media-md{
              border-radius: 20px;
            }
          }
          
          .item-action-container{
            border-radius: 0 0 20px 20px;
            
            @include media-md{
              border-radius: 0 20px 20px 0;
            }
          }
        }
      }
    }
  }
}