@import "./mixins/mixins.scss";

// component general styling
.component.nav-style{
  @include transition(); 
  margin: 0;
  padding: 0;
  overflow: hidden;

  @include media-lg{
    padding: 10px 20px 10px;
  }

  .component-wrapper{
    @include transition(); 
    position:relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    box-shadow: none;
    overflow: hidden;

    .component-content{
      @include transition();
      position:relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      box-shadow: none;
    
      .style-container{
        height: 100%;
        width: 100%;
        padding:0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        background: var(--base-3);

        .title{
          margin: 2px 0 0 10px;
          margin-right: auto;
          margin-bottom: 15px;
        }
      
        .style-list{
          display: flex;
          flex-direction: column;

          .style-wrapper{
            @include transition();
            padding:3px;
            margin:5px 0;
            cursor: pointer;
            height: 50px;
            background: rgba(255,255,255,0.2);

            @include media-lg{ 
              margin: 5px;
            }

            &.active{
              background: white;
              .style{
                background: white;
              }
            }

            &:hover{
              background: white;
            }

            .style{
              height: 100%;
              width: 100%;
              background: var(--base-3);
              display: flex;
              justify-content: center;
              align-items: center;
              padding: 0 30px;
            }
          }
        }
      } 
    }
  }
}

// component variation styling
.soft{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-list{
          .style-wrapper{
            border-radius: 15px;
            .style{
              border-radius: 13px;
            }
          }
        }
      }
    }
  }
}

.round{
  .component.nav-style{   
    .component-wrapper{
      .component-content{  
        .style-list{
          .style-wrapper{
            border-radius: 10000px;
            .style{
              border-radius: 10000px;
            }
          }
        }
      }
    }
  }
}

.raised,.float{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-container{
          padding:10px;
          .style-list{
            .style-wrapper{
              background: rgba(0,0,0,0);
              margin:10px 0;

              @include media-md{
                margin: 10px
              }
              
              &:hover{
                background: white;
              }
            }
          }
        }
      }
    }
  }
}

.raised{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-wrapper{
          box-shadow: var(--shadow-raised);
        }
      }
    }
  }
}

.float{
  .component.nav-style{   
    .component-wrapper{
      .component-content{
        .style-wrapper{
          box-shadow: var(--shadow-float);
        }
      }
    }
  }
}