@import "./mixins/mixins.scss";

// component sizing
.collection{
  .content-grid{
    .entry-list{
      .component.entry-user{
        width: calc(100% / 1);

        @include media-sm{
          width: calc(100% / 2);
        }

        @include media-md{
          width: calc(100% / 3);
        }
        
        @include media-lg{
          width: calc(100% / 4);
        }
    
        @include media-xl{
          width: calc(100% / 4);
        }

        @include media-xxl{
          width: calc(100% / 4);
        }
      }
    } 
  }

  .content-row{
    .entry-list{
      .component.entry-user{
        width: calc(100% / 1);

        @include media-sm{
          width: calc(100% / 2);
        }

        @include media-md{
          width: calc(100% / 3);
        }
        
        @include media-lg{
          width: calc(100% / 4);
        }
    
        @include media-xl{
          width: calc(100% / 4);
        }

        @include media-xxl{
          width: calc(100% / 4);
        }
      }
    } 
  }

  &.active{
    .content-grid{
      .entry-list{  
        .component.entry-user{
          width: calc(100% / 1);
        }
      } 
    }
  }
}

// component general styling
.component.entry-user{
  @include transition(); 
  height: 420px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  .component-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;

    .component-content{
      @include transition();
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 0;
      box-shadow: none;
      background: var(--accent-1);

      .image-container{
        @include transition();
        overflow: hidden;
        position: absolute;
        height: calc(100% - 100px);
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 0; 
        background: none;  
        z-index: 1;
        
        @include image();

        .image-overlay{
          @include transition();
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 2;
          background: rgba(0,0,0,0.2);
        }
      }

      .text-container{
        @include transition();
        position: absolute;
        height: 100px;
        width: 100%; 
        background: var(--accent-1);
        bottom: 0;
        right: 0;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        z-index: 3;

        .text-container-inner{
          overflow-y: scroll;
          height: 100%;
          display: flex;
          flex-direction: column;
          position: relative;
          padding: 20px; 
        }
        
        .description{
          @include transition();
          height: 0;
          overflow: hidden;
        }
      }

      .title-container{
        display: block;

        .name{
          font-weight: 500;
          margin-bottom: 0px;
        }

        .title{
          margin-bottom: 15px;
        }
      }
    }
  }
}

// component hover effects not active
.component.entry-user{
  &:not(.active){
    .component-wrapper{
      &:hover{
        background: var(--light-1);

        .component-content{
          .image-container{
            img{
              height: 100%;
              width: 100%;
              top: 40%;
            }

            .image-overlay{
              background: rgba(0,0,0,0);
            }
          }

          .text-container{
            height: 200px;

            .text-container-inner{
              .description{
                height: 150px;
              }
            }
            
            .preview-icon-container{
              height:50px;
              bottom:0;
            }
          }   
        }    
      }
    }
  }
}

// component variation styling
.monochrome{
  .component.entry-user{
    .component-wrapper{
      .component-content{
        background: var(--base-2);
        
        @include reviews(var(--accent-2));

        .text-container{
          background: var(--base-2);
        }

        .preview-button-container,
        .preview-icon-container{
          background: var(--base-2);
        }
      }
    }
  }
}

.soft{
  .component.entry-user{   
    .component-wrapper{
      border-radius: 15px;

      .component-content{
        border-radius: 10px;
      }
    }
  }
}

.round{
  .component.entry-user{   
    .component-wrapper{
      border-radius: 30px;

      .component-content{
        border-radius: 25px;
      }
    }
  }
}

.raised{
  .component.entry-user{
    padding: 10px;

    .component-wrapper{
      box-shadow: var(--shadow-raised);
    }
  }
}

.float{
  .component.entry-user{
    padding: 10px;

    .component-wrapper{
      box-shadow: var(--shadow-float);
    }
  }
}

.text-wrapper{
  .component.entry-user{
    .component-wrapper{
      .component-content{
        .image-container{
          height: calc(100% - 115px);
          width: calc(100% - 30px);
          top: 15px;
          left: 15px;
        }
      }
    }

    &:not(.active){
      .component-wrapper{
        &:hover{
          .component-content{
            .image-container{
              height: calc(100% - 200px);
              width: 100%;
              top: 0;
              left: 0;
            }
          }    
        }
      }
    }
  }

  &.soft{
    .component.entry-user{   
      .component-wrapper{
        .component-content{
          .image-container{
            border-radius: 6px;
          }
        }
      }
    }
  }
  
  &.round{
    .component.entry-user{   
      .component-wrapper{
        .component-content{
          .image-container{
            border-radius: 15px;
          }
        }
      }
    }
  }
}

.image-wrapper{
  .component.entry-user{
    .component-wrapper{
      .component-content{
        .image-container{
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          
          .image-overlay{
            background: rgba(0,0,0,0);
          } 
        }

        .text-container{
          width: calc(100% - 20px); 
          bottom: 10px;
          right: 10px;
        }
      }
    }

    &:not(.active){
      .component-wrapper{
        &:hover{
          .component-content{
            .image-overlay{
              background: rgba(0,0,0,0.5);
            }

            .text-container{
              height: calc(100% - 20px);
            }   
          }    
        }
      }
    }
  }
  
  &.soft{
    .component.entry-user{   
      .component-wrapper{
        .component-content{
          .text-container{
            border-radius: 6px;
          }
        }
      }
    }
  }
  
  &.round{
    .component.entry-user{   
      .component-wrapper{
        .component-content{
          .text-container{
            border-radius: 17px;
          }
        }
      }
    }
  }
}