@import "./mixins/mixins.scss";

// component general styling
.component.cart-summary{
  @include transition(); 
  height: 200px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: calc(100%);

  @include media-md{
    height: 120px;
  }

  .component-wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;

    .component-content{
      @include transition();
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 0;
      box-shadow: none;
      background: var(--accent-1);

      @include button();

      .text-container{
        @include transition();
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 100%;
        z-index: 3;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: var(--accent-1);

        @include media-md{
          top: 0;
          left: 0;
          height: 100%;
          width: 200px;
        }

        .text-section{
          display: flex;
          align-items: center;
          height: 40px;
          
          h3{
            margin-right: auto;
          }
        }
      }

      .purchase-button{
        @include transition();
        position: absolute;
        bottom: 0;
        right: 0;
        height: 50%;
        width: 100%;
        margin-left: auto;
        align-items: center;
        padding: 0 30px;
        
        @include media-md{
          bottom: 0;
          right: 0;
          height: 100%;
          width: calc(100% - 200px);
          padding: 25px 50px;
        }
        
        h4{
          margin-left: auto;
        }
      }
    }
  }
}

// component variation styling
.monochrome{
  .component.cart-summary{
    .component-wrapper{
      .component-content{
        background: var(--base-2);
      
        .text-container{
          background: var(--base-2);
        }
      }
    }
  }
}

.soft{
  .component.cart-summary{   
    .component-wrapper{
      border-radius: 15px;

      .component-content{
        border-radius: 10px;
      }
    }
  }
}

.round{
  .component.cart-summary{   
    .component-wrapper{
      border-radius: 30px;

      .component-content{
        border-radius: 25px;
      }
    }
  }
}

.raised,.float{
  .component.cart-summary{
    height: 220px;
    padding:10px;

    @include media-md{
      height:160px;
    }
  }
}

.raised{
  .component.cart-summary{
    .component-wrapper{
      box-shadow: var(--shadow-raised);
    }
  }
}

.float{
  .component.cart-summary{
    .component-wrapper{
      box-shadow: var(--shadow-float);
    }
  }
}

.text-wrapper{
  .component.cart-summary{
    .component-wrapper{
      .component-content{
        .image-container,
        .image-overlay{
          height: calc(100% - 20px);
          width: 200px;
          top: 10px;
          left: 10px;
        }
        
        .text-container{
          width:calc(100% - 20px);
          height:calc(50% - 10px);
          top:10px;
          left:10px;
          padding: 0 15px;

          @include media-md{
            width:180px;
            height:calc(100% - 20px);
            top:10px;
            left:10px;
            padding: 0 15px;
          }
        }

        .purchase-button{
          width: calc(100% - 20px);
          height: calc(50% - 20px);
          bottom:10px;
          right:10px;
          
          @include media-md{
            width:100%;
            height:100%;
            bottom:0;
            right:0;
          }
        }
      }
    }
  }

  &.soft{
    .component.cart-summary{ 
      .component-wrapper{
        .component-content{
          .image-container,
          .image-overlay{
            border-radius: 8px;
          }
          
          .purchase-button{
            border-radius: 8px;
          }
        }
      }
    }
  }
  
  &.round{
    .component.cart-summary{  
      .component-wrapper{
        .component-content{
          .image-container,
          .image-overlay{
            border-radius: 18px;
          }
          
          .purchase-button{
            border-radius: 18px;
          }
        }
      }
    }
  }

  &.soft{
    .component.cart-summary{ 
      .component-wrapper{
        .component-content{
          .text-container{
            border-radius: 6px;
          }
        }
      }
    }
  }
  
  &.round{
    .component.cart-summary{
      .component-wrapper{
        .component-content{
          .text-container{
            border-radius: 17px;
          }
        }
      }
    }
  }
}

.image-wrapper{
  .component.cart-summary{
    .component-wrapper{
      .component-content{    
        .text-container{
          height: 50%;
          width: 100%; 

          @include media-md{
            height: 100%;
            width: 200px; 
          }
        }

        .purchase-button{
          bottom: 5px;
          right: 5px;
          width: calc(100% - 10px);
          height: calc(50% - 10px);


          @include media-md{
            height: calc(100% - 10px);
            width: calc(100% - 205px);

          }
        }
      }
    }
  }
  
  &.soft{
    .component.cart-summary{
      .component-wrapper{
        .component-content{
          .purchase-button{
            border-radius: 6px;
          }     
        }
      }
    }
  }
  
  &.round{
    .component.cart-summary{
      .component-wrapper{
        .component-content{
          .purchase-button{
            border-radius: 20px;
          }     
        }
      }
    }
  }
}