@import "./mixins/mixins.scss";

// component general styling
.component.nav-theme{
  @include transition(); 
  height: 60px;
  margin: 0;
  padding: 5px 10px;
  overflow: hidden;

  .component-wrapper{
    @include transition(); 
    position:relative;
    width: 100%;
    height: 100%;
    padding: 3px;
    margin: 0;
    border-radius: 0;
    box-shadow: none;
    overflow: hidden;
    background: rgba(255,255,255,0.2);

    .component-content{
      @include transition();
      position:relative;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 0px;
      box-shadow: none;
    
      .theme-container{
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        background: var(--base-3);
        display: flex;
        flex-direction: column;
        cursor: pointer;

        .title{
          margin: 8px auto 0 15px;
        }
      
        .color-list{
          overflow: hidden;
          display: flex;
          justify-content: center;
          margin-top: auto;
          width:100%;
          
          .color{
            height: 7px;
            width: 100%;
          }  
        }
      } 
    }

    &.active{
      background: var(--light-1);
    }

    &:hover{
      background: var(--light-1);
    }
  }
}

// component variation styling
.soft{
  .component.nav-theme{   
    .component-wrapper{
      border-radius: 15px;
      
      .component-content{
        border-radius: 13px;
      }
    }
  }
}

.round{
  .component.nav-theme{   
    .component-wrapper{
      border-radius: 10000px;
      
      .component-content{
        border-radius: 10000px;
      }
    }
  }
}

.raised,.float{
  .component.nav-theme{
    padding:10px;   
    height:70px;
    
    .component-wrapper{
      background: none;
      
      &:hover{
        background: var(--light-1);
      }
    }
  }
}

.raised{
  .component.nav-theme{ 
    .component-wrapper{
      box-shadow: var(--shadow-raised);
    }
  }
}

.float{
  .component.nav-theme{   
    .component-wrapper{
      box-shadow: var(--shadow-float);
    }
  }
}