@import "../mixins/mixins.scss";

.monochrome{
  .component.nav-bar{   
    .component-wrapper{
      .component-content{
        .list-container{
          .list-header{
            background: var(--base-2);
          }
        }
      }
    }
  }
}

.soft{
  .component.nav-bar{   
    .component-wrapper{
      .component-content{
        .list-container{
          border-radius: 15px;
        }
      }
    }
  }
}

.round{
  .component.nav-bar{   
    .component-wrapper{
      .component-content{
        .list-container{
          border-radius: 30px;
        }
      }
    }
  }
}

.raised{
  .component.nav-bar{   
    .component-wrapper{
      .component-content{
        .list-container{
          border:none;
          box-shadow: var(--shadow-raised);
        }
      }
    }
  }
}

.float{
  .component.nav-bar{   
    .component-wrapper{
      .component-content{
        .list-container{
          border:none;
          box-shadow: var(--shadow-float);
        }
      }
    }
  }
}